@font-face{
    font-family: NBI;
    src: url(./NBInternationalProBoo\ \(1\).ttf)
}
@font-face {
    font-family: rej;
    src: url(./Rejouice-Headline.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: NBI;
}
html{
    scroll-behavior: smooth;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  overflow-x: hidden;
}
#mousecr{
    height: 7.5vw;
    width: 7.5vw;
    background-color:rgb(35, 35, 34);
    border-radius: 50%;
    position:fixed;
    z-index: 9;
    display: flex;
    align-items: center;
   justify-content: center;
   transition: translate(-50% 50%);
}
#mousecr h5{
    font-size: 1.2vw;
}
#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute; 
    z-index: -1; 
}
#page1-content{
    height: 100%;
    width: 100%;
    position : relative;
    z-index: 12;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3vw 3vw;
}
#nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}
#nav h4{
    font-size: 1.4vw;
    font-weight: 100;
}
#page1-content h1{
    font-family: rej;
    font-size: 20vw;
    font-weight: 100; 
    position:absolute;
    text-align: center;
    justify-content:center;
    letter-spacing: 5px;
    margin-top: 25%;
}
#page2 #h612{
    font-size: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 1vw;
}

#page2-content{
  text-align: center;
  font-weight: 800;
  font-size : 3vw;
}
